<div class="container">
<footer class="footer">
    <small>
        copyright &copy; <a href="https://www.linkedin.com/in/rathodpratik557">The complete ruby</a>
        by <a href="https://www.linkedin.com/in/rathodpratik557">pratik rathod</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "New Articles", new_article_path %></li>
            </ul>
        </nav>
        </footer>
</div>